  html,
  body {
    margin: 0;
    padding: 0;
    image-rendering: optimizeSpeed;              /* Older versions of FF */
    image-rendering: -moz-crisp-edges;           /* FF 6.0+ */
    image-rendering: -webkit-optimize-contrast;  /* Webkit (non standard naming) */
    image-rendering: -o-crisp-edges;             /* OS X & Windows Opera (12.02+) */
    image-rendering: crisp-edges;                /* Possible future browsers. */
    -ms-interpolation-mode: nearest-neighbor;    /* IE (non standard naming) */
    image-rendering: pixelated;                  /* Chrome 41 */
  }

  .menu-popup {
    width: 50%;
    height: 50%;
    right: 25%;
    position: absolute;
    background-color: white;
    z-index: -1; 
    pointer-events: none;
  }

  .menu-selection {
    width: 100%;
    position: absolute;
    text-align: center;
    color: white;
    background-color: blue; 
    padding: 20px 0;
    pointer-events: all;
  }


  .menu-title {
    position: absolute;
    top: 30px;
    text-align: center;
    width: 100%;
    font-size: 80px;
  }

